.btn{
    background-color: #45a29e;
}

.btn:hover{
    background-color: #247874;
}
#navbarNav{
    display: flex;
    justify-content: end;
     
}

.nav-item{
    padding-right: 10px;
}
.button{
    background-color: #1f2833;
    border: none;
    color: #c5c6c7;
    text-align: center;
    text-decoration: double;
    border-radius: 90%;
    font-size: 25px;
    box-shadow: 10rem;
 }